/* Add layouts here */

/* Layout 1 */
a {
    display: flex;
    justify-content: flex-end;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* Layout 2 */
.links {
    display: flex;
    justify-content: flex-end;
}
.links li {
    display: flex;
    flex-direction: column;
}
/* Layout 3 */

/* Layout 4 */

