/* Add site styles here */

header {
    text-align: center;
}

h1 {
    color: hotpink;
    font-family: fantasy;
    font-size: 60px;
    text-shadow: 4px 3px aqua;
}

h2 {
    color: aqua;
    font-family: fantasy;
    font-size: 40px;
}

main {
    text-align: center;
}

a {
    color: aqua;
    font-family: fantasy;
    font-style: oblique;
}

body {
    background: black;
}

footer {
    border: 2px;
    border-style: double;
    border-color: black;
    border-block-end-color: hotpink;
    color: hotpink;
    order: 1;
    text-align: center;
}

.links {
    color: hotpink;
}

p {
    font-family: fantasy;
    color: aqua;
}

.navigation {
    color: hotpink;
}