/* Add site styles here */
header {
    order: 0;
    flex: 1 100%;
    text-align: center;
}

h1 {
    color: hotpink;
    font-family: fantasy;
    font-size: 60px;
    text-shadow: 4px 3px lightblue;
}

h2 {
    color: aqua;
    font-family: fantasy;
    font-size: 40px;
}

main {
    align-items: flex-start;
    flex: 2;
    order: 3;
    text-align: center;
}

a {
    color: aqua;
    font-family: fantasy;
    font-style: oblique;
}

body {
    display: flex;
    background: black;
    flex-wrap: wrap;
    flex-direction: row;
}

footer {
    border: 2px;
    border-style: double;
    border-color: black;
    border-block-end-color: hotpink;
    color: hotpink;
    order: 1;
    flex: 1 100%;
    text-align: center;
}

.links {
    order: 4;
    color: hotpink;
    flex: 1;
}

p {
    font-family: fantasy;
    color: aqua;
}

.navigation {
    order: 2;
    color: hotpink;
    justify-content: flex-start;
    flex: 1;
}